.about {
  width: 60vw;
  height: 30vh;
  position: absolute;
  bottom: 0.5rem;
  left: 20vw;
  background-color: white;
  padding: 1.5em;
}
.about h3 {
  text-align: center;
}
.about-container {
  position: relative;
}

.background-image {
  width: 100vw;
  height: 70vh;
}

.main {
  position: relative;
  width: 90%;
  margin: auto;
  padding: 0.5rem;
}
